body{
    background-color: #1838b2;
}

.titulo {
    font-size: 25px;
}

#creacion {
    border: 1px solid black;
    text-align: center;
    background-color: white;
    margin-right: 70px;
    margin-left: 400px;
}